@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
}

/*  ====================== variables ======================  */

:root {
    --clr: #09e4b5;
    --clr-light: #c1e4df;
}


/*  ====================== css styles ======================  */

body {
    font-family: "Vazir" !important;
    /*background-color: #F7F0F5 !important;*/
    background-color: var(--clr-light) !important;
}

#main-nav {
    margin-right: -12px;
    margin-left: -12px !important;
}

#sidebarCollapse a,
#offcanvasRight a {
    transition: all linear 0.3s;
}


#sidebarCollapse a:hover,
#offcanvasRight a:hover {
    padding-right: 0.75rem;
    background-color: var(--clr);
    border-radius: 0.5rem;
}

#sidebarCollapse .collapse,
#offcanvasRight .collapse {
    background-color: var(--clr-light);
    border-radius: 1rem;
    padding: 0.5rem;
}

#cards .card {
    height: 7rem;
}

img.user-profile {
    object-fit: cover;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.users-btn {
    background-color: transparent;
    color: var(--clr);
    border: 3px solid var(--clr);
    font-weight: bold;
}

.users-btn:hover {
    background-color: var(--clr);
    color: white;
    border: 3px solid var(--clr);
}

.progress {
    border: 2px solid black;
    height: 1.6rem;
}

.progress .progress-bar {
    color: black;
    font-size: 1.1rem;
}

.prog-1 {
    background-color: var(--clr);
}

.prog-2 {
    background-color: #f24646;
}

.prog-3 {
    background-color: #ee24ee;
}

.divider {
    width: 75%;
    height: 5px;
    background-color: #e9e9e9;
    margin: 1.5rem auto;
}
